<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    <meta name="description" content="{% if page.title %} {{ page.title }} {% else %} {{ site.description }} {% endif %}">

    <!-- Link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" media="all" href="/css/fadein.css">
    <link rel="stylesheet" type="text/css" media="all" href="/css/main.css">

    <!-- Icons -->
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon.png">
    <link rel="manifest" href="/manifest.webmanifest">
  </head>

  <body>

    <header>
      <h1 class="text-center"><a href="/">Scary IT Things</a></h1>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      &copy; czocher 2016
    </footer>

    {% include ssl.html %}
    {% include analytics.html %}
  </body>
</html>
